@media (min-width: 715px) {



#button2 {
    margin-top:20px;
}

#pageHead {
    display: flex;
    justify-content: space-between;
    width:100%;
    align-items: center;
    min-height: 75vh;
    padding-top:1.5cm;
}

#headLeft {
    width:50%
}



#headLeftContent {
    font-size:.75cm;
    padding-left:10vw;
    padding-right:5vw;
}


#headContentSub {
    font-size: 20px;
    padding-right:30%;
}

#socialContainer {
    margin-top:1cm;
    width:100%;
    display:flex;
    justify-content: space-between;
}

.socials {
    border: 1px solid black;
    width:4.5cm;
    height:1cm;
    font-size:20px;
    padding:auto;
    align-items: center;
    display: flex;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.socials:hover{
    background-color:#e0fbfc;
    cursor:pointer;
}
.socialIcon {
    height:100%;
}

.socialsText {
    width:100%;
    text-align: center;
}
#headRight {
    width:50%;
    
}

#openImg {
    width:70vh;
    min-height:70vh;
    background-size: cover;
    background-position: center;
}
#headRightContent {
    text-align: center;
    width:100%;
    
}



.infoSec {
    background-color: #293241;
    padding-left:10vw;
    padding-right:10vw;
    padding-bottom:2cm;
}

#howJoin {
    margin-top:0;
    color:#e0fbfc;
}

#howInfo {
    margin-top:7vh;
    display:flex;
    justify-content: space-between;
}

.waveContainer {
   
}

.howInfoBullet {
    color:#e0fbfc;
    width:20vw;
    font-size:20px;

}

.howInfoBullet h3 {
    color: #ee6c4d;
}


#appForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1cm;
    width: 80%;
    text-align: center;
    border: white 1px solid;
    margin: auto;
    margin-top: 2cm;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: white;
    cursor: pointer;
}

#appForm:hover {
    background-color:transparent;
    color:white;
    border: white 1px solid;
}


}