html {
    scroll-behavior: smooth;
  }

body {
  margin: 0;
  background: white;
  overflow-x: hidden;
  height:500cm;
}

@media (min-width: 600px) {

#header {
    top: 0;
    position: absolute;
    width: 100%;
    height:2.3cm;
    background-color:white;
    z-index: 50;
    overflow:hidden;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    padding-top:0.3vh;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display:flex;
    justify-content: space-between;

}

#headerColumns {
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}

.headerTag {
    margin-right:1cm;
    font-size: 20px;
    cursor: pointer;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.headerTag:hover {
    color:grey;
}

.applyButton {
    height:1cm;
    font-size:20px;
    padding-right:15px;
    padding-left:15px;
    border-radius:5px;
    cursor: pointer;
    background-color:#98c1dc;
    border: 1px solid;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    font:bold
}

.applyButton:hover{
    background-color:#3d5a80;
    
}

#button2 {
    margin-top:20px;
}

#headLeft {
    width:50%
}

#headLeftContent {
    font-size:1cm;
    padding-left:10vw;
    padding-right:5vw;
}

#headContentSub {
    font-size: 20px;
    padding-right:30%;
}

#socialContainer {
    margin-top:1cm;
    width:100%;
    display:flex;
    justify-content: space-between;
}

.socials {
    border: 1px solid black;
    width:30%;
    height:1cm;
    font-size:20px;
    padding:auto;
    align-items: center;
    display: flex;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.socials:hover{
    background-color:#e0fbfc;
    cursor:pointer;
}
.socialIcon {
    height:100%;
}

.socialsText {
    width:100%;
    text-align: center;
}
#headRight {
    width:50%;
    
}

#openImg {
    width:18cm;
    height:18cm;
    background-size: cover;
    background-position: center;
}
#headRightContent {
    text-align: center;
    margin-top:4cm;
    width:100%;
    
}
#pageHead {
    display: flex;
    justify-content: space-between;
    width:100%;
    align-items: center;
    height: 90vh;
}

}